@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif, Helvetica, Arial, sans-serif;
  font-size: 16.5px;
}

h1 {
  font-weight: 400;
  font-size: 1.1rem;
}

/* #################################            CONTAINER DIV           ############################################*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* #################################            BOX  DIVS         ############################################*/
.box {
  height: 100vh;
  color: #f8f8fd;
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  transition-duration: 1s;
}
.box--side {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  cursor: pointer;
}

.box__header::after {
  content: "";
  position: absolute;
  height: 0;
  border-left: 1px solid #f8f8fd;
  left: 0;
  top: 0;
  transition: height 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.box--side:hover .box__header::after {
  height: 100%;
}

.box__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;

  writing-mode: horizontal-tb;
  text-orientation: upright;

  color: black;

  background-image: none;
  background-color: RGBA(197, 197, 206, 0.5);
}

.box__inner--enter {
  transition-delay: 1s;
  opacity: 1;
}

.box--active {
  flex: 8;
}

.box__header {
  position: relative;
  right: 10px;
  color: #f8f8fd;
}

.box-header--active {
  transition-delay: 0.9s;
  opacity: 0;
}

/* #################################            INDIVIDUAL BOXES           ############################################*/

.contact-box {
  /* background-image: url("/assets/Antelope_Canyon.jpg"); */
  /* background-image: url("/assets/Detail\ of\ a\ Northern\ Red\ Snapper\ Lutjanus\ campechanus.jpg"); */
  /* background-image: linear-gradient(
      to bottom,
      RGBA(254, 225, 64, 0.3),
      RGBA(250, 112, 154, 0.5)
    ), */

  background-image: linear-gradient(
      to bottom,
      RGBA(255, 106, 136, 0.1),
      RGBA(255, 153, 172, 0.1)
    ),
    url("/assets/Peak_District_National_Park_UK.jpg");
  background-size: cover;
  background-position: center center;
}

.portfolio-box {
  /* background-image: url("/assets/Scales_of_a_Blue_morpho_butterfly_Morpho_peleides.jpg"); */
  /* background-image: linear-gradient(
      to bottom,
      RGBA(251, 171, 126, 0.3),
      RGBA(200, 80, 192, 0.2)
    ),
    url("/assets/Reforestation_of_the_Whisby_Nature_Reserve_UK_with_birch_woodland.jpg"); */
  background-image: linear-gradient(
      to bottom,
      RGBA(255, 106, 136, 0.1),
      RGBA(255, 153, 172, 0.1)
    ),
    url("/assets/Trees_at_Peak_District_National_Park_UK.jpg");

  background-size: cover;
  background-position: center center;
}

.about-box {
  /* background-image: url("/assets/Iridescent_feathers_on_a_Feral_Pigeon_Columbia_livia_domestica.jpg"); */
  background-image: linear-gradient(
      to bottom,
      RGBA(255, 106, 136, 0.1),
      RGBA(255, 153, 172, 0.1)
    ),
    url("/assets/Arches_National_Park.jpg");
  background-size: cover;
  background-position: center center;
}

.logo-box {
  background-color: black;
  flex: 8;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-png {
  height: 100px;
  width: auto;
}

.logo-subtitle {
  writing-mode: horizontal-tb;
  text-orientation: upright;
  text-align: center;
  margin-top: -10px;
}

/*Responsive design for different media*/
/* these would be measurements for smartphones*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }
}
